.header{
  background-image: url('https://i.postimg.cc/wTsyjXFG/Header.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 300px;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.headerWomen{
  background-image:url('https://i.postimg.cc/1zM4jJ5f/header-Mujer.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 300px;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.headerMen{
  background-image:url('https://i.postimg.cc/T2KqnWCr/headerhombre.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 300px;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.headerChildren{
  background-image:url('https://i.postimg.cc/KvLPHhXj/Header-Ni-os.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 300px;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.headeraccesories{
  background-image:url('https://i.postimg.cc/HLSXypMZ/Header-Accesorios.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 300px;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}